@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* common */
* {margin:0; padding:0; box-sizing: border-box; list-style:none; text-decoration:none;
		outline: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; font-family:'Noto Sans KR', sans-serif; }
html, body { width: 100%; height:100%; position: relative; background:#fff; font-size:14px; font-family:'Noto Sans KR',sans-serif; line-height:1.4; font-weight:400; color:#000; letter-spacing:-0.048em; }
ul>li>a { text-decoration:none; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #c0c9d4; background-color: #fff; border-radius: 0; font-family:inherit; vertical-align:middle; outline:none; }
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer; color:inherit; font-size:inherit; }
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer; font-family: inherit; }
select::-ms-expand {display: none;}
img { width:100%; vertical-align:middle; }
hr { border:0; }
p { color:rgba(0,0,0,.4); line-height:1.6; }
label { cursor:pointer; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
.pc { display:block !important; }
.mo { display:none !important; }

a.link { text-decoration:underline; }
input[type="text"],
input[type="number"],
input[type="password"] { width:100%; height:40px; padding:0 15px; border:1px solid #c0c9d4; border-radius:4px; color:#62668c; font-size:12px; }
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled { background:#eff0fd; }

input[type="checkbox"],
input[type="radio"] { position:absolute; left:-999999px; top:0; opacity:0; }
input[type="radio"]+label { height:20px; position:relative; padding-left:28px; display:inline-block; margin-right:65px; cursor:pointer; line-height:20px; vertical-align:middle; }
input[type="radio"]+label:before { content:''; width:20px; height:20px; position:absolute; left:0; top:50%; border-radius:50%; border:1px solid #e3e3e3; transform:translateY(-50%); box-sizing:border-box; }
input[type="radio"]+label:after { content:''; width:12px; height:12px; position:absolute; left:4px; top:50%; border-radius:50%; background:#d1d1d1; transform:translateY(-50%); }
input[type="radio"]:checked+label:after { background:#021343; }

.underline { text-decoration:underline; }

.c-title { font-size:50px; font-weight:700; color:#000; text-align:center; }

#header { width:100%; height:88px; position:absolute; left:0; top:0; background:#fff; z-index:11; }
#header h1 { width:161px; height:28px; position:absolute; left:46px; top:50%; background:url('../images/logo.png') center center no-repeat; background-size:100% auto; transform:translateY(-50%); font-size:0; text-indent:-999999px; }

#gnb { text-align:center; }
#gnb ul { display:inline-block; overflow:hidden; }
#gnb ul li { float:left; }
#gnb ul li+li { margin-left:60px; }
#gnb ul li a { display:block; font-size:16px; color:#000; line-height:88px; }
#gnb .btnArea { display:none; }
#gnb .close { display:none; }

.moGnb { display:none; }

.mainVisual {  position:relative; overflow:hidden; }
.mainVisual .swiper-wrapper { height:706px; }
.mainVisual .swiper-slide { background:url('../images/bgVisual.png') left bottom; background-size:auto 100%; }
.mainVisual .swiper-slide .inner { width:1200px; height:706px; padding:0 21px; position:relative; padding-top:216px; margin:0 auto; }
.mainVisual .swiper-slide .inner:after { content:''; position:absolute; left:50%; bottom:0; background-repeat:no-repeat; background-position:left bottom; background-size:100% auto; z-index:-1; }
.mainVisual .swiper-slide.slide1 .inner:after { width:938px; height:493px; margin-left:-233px; background-image:url('../images/imgVisual1.png'); }
.mainVisual .swiper-slide.slide2 .inner:after { width:898px; height:556px; margin-left:-74px; background-image:url('../images/imgVisual2.png'); }
.mainVisual .swiper-slide.slide3 .inner:after { width:509px; height:501px; margin-left:92px; background-image:url('../images/imgVisual3.png'); }
.mainVisual .swiper-slide .txt1 { font-size:25px; color:#000; letter-spacing:-0.05em; font-size:25px; }
.mainVisual .swiper-slide .txt2 { margin-top:6px; font-size:70px; font-weight:700; color:#000; line-height:80px; letter-spacing:-0.05em; }
.mainVisual .swiper-slide .txt2 span.block { height:80px; display:inline-block; background:#0020d1; color:#fff; line-height:1; }
.mainVisual .swiper-slide .btnArea { margin-top:50px; overflow:hidden; }
.mainVisual .swiper-slide .btnArea .btn { width:160px; height:70px; float:left; border:1px solid #0020d1; background:#fff; border-radius:35px; text-align:center; line-height:68px; color:#0020d1; font-size:22px; font-weight:700; }
.mainVisual .swiper-slide .btnArea .btn.btn--active { width:292px; background:#0020d1; color:#fff; }
.mainVisual .swiper-slide .btnArea .btn.btn--active:after { content:''; width:17px; height:12px; margin-top:-4px; margin-left:8px; display:inline-block; background:url('../images/iconVisualActive.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }
.mainVisual .swiper-slide .btnArea .btn+.btn { margin-left:6px; }
.mainVisual .swiper-button-next,
.mainVisual .swiper-button-prev { width:60px; height:60px; left:50%; margin:0; border-radius:50%; background:#fff; box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.11); }
.mainVisual .swiper-button-next { margin-left:720px; }
.mainVisual .swiper-button-prev { margin-left:-780px; }
.mainVisual .swiper-button-next:after,
.mainVisual .swiper-button-prev:after { content:''; width:12px; height:22px; background:url('../images/imgVisualArrow.png') center center no-repeat; background-size:100% auto; }
.mainVisual .swiper-button-next:after { transform:rotate(180deg); }
.mainVisual .swiper-pagination { display:none; }

.inner { max-width:1200px; margin:0 auto; position:relative; }

.section { overflow:hidden; }
.section.section1 { padding:65px 0 200px; }
.section.section2 { padding:140px 0 130px; background:#f5f5f5; }
.section.section3 { padding:150px 0; background:#0020d1; }
.section.section3 .titleArea h2 { margin-top:20px; color:#fff; line-height:1.2; }
.section.section3 .titleArea h4 { color:#fff }
.section.section3 .titleArea p { margin-top:15px; padding-right:150px; color:#fff; letter-spacing:-.05em; }
.section.section3 .titleArea p strong { font-weight:700; color:#f95c31; }
.section.section4 { padding:150px 0 160px; }
.section.section5 { background:#f95c31; }

.boxNoticeRoll { height:70px; overflow:hidden; box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.1); background:url('../images/iconNotice.png') 34px center #fff no-repeat; background-size:17px auto; border-radius:19px; }
.boxNoticeRoll .swiper-slide { position:relative; }
.boxNoticeRoll .swiper-slide a { height:100%; display:flex; align-items:center; padding:0 30px 0 70px; }
.boxNoticeRoll .swiper-slide a .title { margin-right:20px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.boxNoticeRoll .swiper-slide a .date { margin-left:auto; }

.listInfomation { margin-top:30px; padding:32px 0; }
.listInfomation ul { display:flex; }
.listInfomation ul li { flex:1; padding:0 59px; position:relative; }
.listInfomation ul li:first-child { padding-left:55px; }
.listInfomation ul li:last-child { padding-right:55px; }
.listInfomation ul li+li:before { content:''; width:1px; height:100%; position:absolute; left:0; top:0; background:#f4f4f4; }
.listInfomation ul li .title { font-size:27px; font-weight:600; color:#000; }
.listInfomation ul li .cont { margin-top:5px; font-size:20px; color:#000; }
.listInfomation ul li .img { width:285px; height:193px; margin-top:45px; border-radius:15px; overflow:hidden; }

.titleArea h2 { font-size:55px; font-weight:700; font-family:"Poppins"; letter-spacing:-0.05em; text-transform:uppercase; color:#000; }
.titleArea h4 { font-size:25px; font-weight:700; color:#000; }
.titleArea h4+h2 { margin-top:5px; }
.titleArea h5 { font-size:22px; color:#000; }
.titleArea p { margin-top:5px; font-size:22px; color:#000; }
.titleArea span.block { display:inline-block; background:#0020d1; color:#fff; }
.titleArea span.line { display:inline-block; border-bottom:10px solid #f95c31; line-height:1; }

.boxMarketing { padding:130px 0 70px; }
.boxMarketing .titleArea { margin-bottom:35px; }
.boxMarketing .contMarketing { position:relative; padding:56px 90px 70px 154px; background:#171717; box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.1); border-radius:19px; }
.boxMarketing .contMarketing:before { content:''; width:93px; height:93px; position:absolute; left:39px; top:47px; background:url('../images/iconMarketing.png') center center no-repeat; background-size:100% auto; }
.boxMarketing .contMarketing .title { margin-bottom:18px; font-size:26px; color:#fff; }
.boxMarketing .contMarketing .cont { color:#959595; font-size:18px; line-height:1.95; }
.boxMarketing .contMarketing .cont strong { color:#c3c3c3; font-weight:400; }

.boxProject { padding:100px 0 13px; }
.boxProject .titleArea { margin-bottom:44px; }
.boxProject .swiper-slide { width:228px; margin-right:15px; text-align:center; }
.boxProject .swiper-slide .thumb { width:228px; height:228px; display:flex; align-items:center; justify-content:center; border-radius:50%; overflow:hidden; }
.boxProject .swiper-slide .title { margin-top:15px; font-size:22px; color:#000; font-weight:700; }
.boxProject .swiper-slide .name { margin-top:3px; font-size:16px; color:#000; }

.slideCampaign { position:relative; margin-top:40px; overflow:hidden; }
.slideCampaign .swiper-slide .cont { margin-top:25px; position:relative; padding-left:83px; }
.slideCampaign .swiper-slide .cont .num { position:absolute; left:0; top:0; font-size:28px; font-weight:700; color:#000; }
.slideCampaign .swiper-slide .cont .title { font-size:26px; font-weight:700; color:#000; }
.slideCampaign .swiper-slide .cont .subject { margin-top:13px; font-size:18px; color:rgba(0,0,0,.52); }
.slideCampaign .swiper-slide .cont a { text-decoration:underline; }
.slideCampaign .swiper-button-next,
.slideCampaign .swiper-button-prev { width:24px; height:22px; left:auto; right:0; top:718px; margin-top:0; }
.slideCampaign .swiper-button-next:after,
.slideCampaign .swiper-button-prev:after { content:''; width:12px; height:22px; background:url('../images/imgVisualArrow.png') center center no-repeat; background-size:12px auto; }
.slideCampaign .swiper-button-next:after { transform:rotate(180deg); }
.slideCampaign .swiper-button-prev,
.slideCampaign .swiper-container-rtl .swiper-button-next { right:64px; }

.slideCampaignThumb { margin-top:38px; overflow:hidden; }
.slideCampaignThumb .swiper-slide { width:180px; height:58px; margin-right:6px; background:#fff; border-radius:29px; text-align:center; line-height:58px; font-size:18px; color:#000; cursor:pointer; }
.slideCampaignThumb .swiper-slide.swiper-slide-thumb-active { background:#000; color:#fff; }

.campaignBlock { margin-top:80px; overflow:hidden; }
.campaignBlock .item { float:left; padding:44px 41px; border-radius:19px; background:#000; box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.1); }
.campaignBlock .item.item1 { width:390px; height:548px; }
.campaignBlock .item.item1>a { margin-top:57px; }
.campaignBlock .item.item2 { width:795px; height:325px; margin-left:15px; padding-right:83px; }
.campaignBlock .item.item3 { width:795px; height:209px; margin-left:15px; margin-top:14px; }
.campaignBlock .item.item3>a { margin-top:24px; }
.campaignBlock .item.item4 { width:390px; height:223px; margin-top:24px; }
.campaignBlock .item.item5 { width:390px; height:223px; margin-top:24px; margin-left:15px; }
.campaignBlock .item.item6 { width:390px; height:223px; margin-top:24px; margin-left:15px; }
.campaignBlock .item .title { color:#fff; font-size:27px; font-weight:700; }
.campaignBlock .item .title:after { content:''; width:21px; height:17px; display:inline-block; margin-left:12px; margin-top:-4px; background:url('../images/iconVisualActive.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }
.campaignBlock .item .cont { margin-top:13px; font-size:18px; color:rgba(255,255,255,.5); line-height:1.65; word-break:keep-all; }
.campaignBlock .item>a { display:inline-block; margin-top:50px; text-decoration:underline; color:#a3a3a3; font-size:18px; }

.boxCharacter { position:absolute; right:-61px; top:0; }
.boxCharacter .bubble { width:238px; height:97px; padding-top:17px; padding-left:36px; position:absolute; left:-191px; top:34px; z-index:1; background:url('../images/bgBubble.png') no-repeat; background-size:100% auto; color:#fff; font-size:16px; }
.boxCharacter .img { width:157px; position:relative; z-index:5; }
.boxCharacter .name { position:absolute; right:2px; top:106px; color:rgba(255,255,255,.6); font-size:13px; }

.slideComing { margin-top:68px; position:relative; }
.slideComing .titleArea {  }
.slideComing .titleArea .title { font-size:27px; font-weight:700; color:#fff; }
.slideComing .titleArea .subject { margin-top:7px; font-size:22px; color:rgba(255,255,255,.76); }
.slideComing .swiper-container { position:relative; margin-top:30px; overflow:visible; }
.slideComing .swiper-slide { width:390px; height:210px; margin-right:15px; padding:36px 43px 0 33px; background:rgba(0,0,0,.19); border-radius:19px; color:#fff; }
.slideComing .swiper-slide .title { font-size:27px; font-weight:700; }
.slideComing .swiper-slide .cont { margin-top:23px; font-size:18px; color:rgba(255,255,255,.5); }
.slideComing .swiper-button-next,
.slideComing .swiper-button-prev { width:24px; height:22px; left:auto; right:0; top:-56px; margin-top:0; }
.slideComing .swiper-button-next:after,
.slideComing .swiper-button-prev:after { content:''; width:12px; height:22px; background:url('../images/imgVisualArrow_white.png') center center no-repeat; background-size:12px auto; }
.slideComing .swiper-button-next:after { transform:rotate(180deg); }
.slideComing .swiper-button-prev,
.slideComing .swiper-container-rtl .swiper-button-next { right:64px; }

.boxQna { margin-top:45px; }
.boxQna li { position:relative; background:#f5f5f5; border-radius:30px; }
.boxQna li+li { margin-top:15px; }
.boxQna li a { display:block; padding:48px 52px 48px 54px; }
.boxQna li .title { padding-left:68px; padding-right:30px; display:flex; align-items:center; position:relative; font-size:22px; font-weight:700; color:#000; letter-spacing:-.05em; }
.boxQna li .title:before { content:''; width:48px; height:48px; position:absolute; left:0; top:50%; margin-right:20px; border-radius:50%; background:url('../images/iconQna.png') center center no-repeat #dcdbdc; background-size:18px auto; transform:translateY(-50%); }
.boxQna li .title:after { content:''; width:16px; height:9px; position:absolute; right:0; top:50%; background:url('../images/btnQna.png') center center no-repeat; background-size:100% auto; transition:all .3s; transform:translateY(-50%); }
.boxQna li .cont { padding-left:68px; font-size:18px; color:rgba(0,0,0,.76); letter-spacing:-.05em; }

.boxQna li.is--active:after { transform:rotate(180deg); }
.boxQna li.is--active .cont { margin-top:14px; }


.boxBanner { padding:48px 66px 48px 212px; display:flex; align-items:center; background:url('../images/bgBanner.png') 35px bottom no-repeat; background-size:163px auto; }
.boxBanner .txtArea { color:#fff; }
.boxBanner .txtArea .txt1 { font-size:30px; }
.boxBanner .txtArea .txt1 strong { font-size:700; }
.boxBanner .txtArea .txt2 { font-size:20px; }
.boxBanner a { width:292px; height:70px; display:flex; align-items:center; justify-content:center; margin-left:auto; border-radius:35px; background:#000; text-align:center; color:#fff; font-size:22px; }
.boxBanner a:after { content:''; width:17px; height:12px; margin-left:10px; background:url('../images/iconVisualActive.png') center center no-repeat; background-size:100% auto; }

#footer { padding:60px 0; background:#000; }
#footer h1 { font-size:22px; font-family:"Poppins"; color:#fff; font-weight:700; }
#footer .address { margin-top:20px; font-size:15px; color:rgba(255,255,255,.6); font-style:normal; line-height:25px; }
#footer .copyright { margin-top:28px; font-family:"Poppins"; font-size:13px; color:rgba(255,255,255,.6); }
#footer .copyright strong { font-size:14px; font-weight:700; color:rgba(255,255,255,.7); }
#footer .link { position:absolute; right:0; bottom:0; }
#footer .link a { margin-left:30px; font-size:14px; color:#fff; font-weight:700; font-family:"Poppins"; }

#dim { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:rgba(0,0,0,.8); z-index:10; }

@media (max-width:720px) {
	.pc { display:none !important; }
	.mo { display:block !important; }

	.c-title { font-size:27px; }

	#header { height:64px; }
	#header h1 { width:94px; height:17px; left:16px; }
	#header.is--open:before { content:''; width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,.8); }

	#gnb { width:270px; height:100%; padding:116px 40px; position:fixed; right:-100%; top:0; background:#0020d1; transition:all .3s; z-index:20; text-align:left; box-shadow: -6px 0 13px 0 rgba(0, 0, 0, 0.34); }
	#gnb ul li { float:none; }
	#gnb ul li+li { margin-left:0; margin-top:25px; }
	#gnb ul li a { display:inline-block; color:#fff; line-height:36px; }
	#gnb ul li.active a { border-bottom:2px solid #fff; }
	#gnb .btnArea { width:100%; position:absolute; left:0; bottom:40px; padding:0 40px; display:block; }
	#gnb .btnArea .btn { height:58px; display:block; border:1px solid #fff; border-radius:58px; color:#fff; font-weight:700; line-height:56px; text-align:center; }
	#gnb .btnArea .btn:after { content:''; width:7px; height:12px; display:inline-block; margin-left:10px; background:url('../images/btnArrow.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }
	#gnb .close { width:32px; height:32px; display:block; position:absolute; right:16px; top:16px; background:url('../images/btnClose.png') center center no-repeat; background-size:20px auto; font-size:0; text-indent:-99999px; }

	#header.is--open #gnb { right:0; }	

	.moGnb { width:58px; height:56px; display:block; position:absolute; right:0px; top:0px; background:url('../images/iconMenu.png') center center no-repeat; background-size:14px auto; font-size:0; text-indent:-99999px; }

	.mainVisual { padding-bottom:20px; }
	.mainVisual .swiper-wrapper { height:594px; }
	.mainVisual .swiper-slide .inner { width:auto; height:594px; padding-top:86px; text-align:center; }
	.mainVisual .swiper-slide .inner:after { left:0; background-size:360px auto; background-position:center bottom; }
	.mainVisual .swiper-slide.slide1 .inner:after { width:100%; height:100%; margin-left:0; background-image:url('../images/imgVisual1_mo.png'); }
	.mainVisual .swiper-slide.slide2 .inner:after { width:100%; height:100%; margin-left:0; background-image:url('../images/imgVisual2_mo.png'); }
	.mainVisual .swiper-slide.slide3 .inner:after { width:100%; height:100%; margin-left:0; background-image:url('../images/imgVisual3_mo.png'); }
	.mainVisual .swiper-slide .txt1 { font-size:15px; }
	.mainVisual .swiper-slide .txt2 { font-size:40px; line-height:50px; }
	.mainVisual .swiper-slide .txt2 span.block { height:43px; padding:0 12px; }
	.mainVisual .swiper-slide.slide3 .txt2 { margin-top:30px; }
	.mainVisual .swiper-slide .btnArea { margin-top:28px; display:inline-block; }
	.mainVisual .swiper-slide.slide2 .btnArea { margin-top:28px; }
	.mainVisual .swiper-slide.slide3 .btnArea { margin-top:52px; }
	.mainVisual .swiper-slide .btnArea .btn { width:112px; height:42px; font-size:14px; line-height:40px; }
	.mainVisual .swiper-slide .btnArea .btn.btn--active { width:178px; }
	.mainVisual .swiper-slide .btnArea .btn.btn--active:after { width:12px; height:8px; margin-left:4px; }
	.mainVisual .swiper-slide .btnArea .btn+.btn { margin-left:6px; }
	.mainVisual .swiper-pagination { height:4px; display:block; bottom:0; }	
	.mainVisual .swiper-pagination-bullet { width:4px; height:4px; background:#b2b2b2; opacity:1; vertical-align:top; border-radius:5px; }
	.mainVisual .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
	.mainVisual .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 3px; }
	.mainVisual .swiper-pagination-bullet-active { width:15px; background:#0020d1; }

	.section.section1 { padding:24px 16px 0; }
	.section.section2 { padding:70px 0 50px; }
	.section.section2 .titleArea { padding:0 16px; }
	.section.section2 .titleArea h2 { font-size:31px; }
	.section.section2 .titleArea h4 { margin-bottom:10px; }
	.section.section3 { padding:80px 0; }
	.section.section3 .titleArea { padding:0 16px; }
	.section.section3 .titleArea h2 { margin-top:10px; font-size:31px; line-height:48px; }
	.section.section3 .titleArea p { margin-top:23px; padding-right:92px; }
	.section.section4 { padding:55px 16px 75px; }


	.titleArea h2 { line-height:38px; font-size:35px; }
	.titleArea h4 { font-size:16px; }
	.titleArea h5 { font-weight:400; font-size:16px; }
	.titleArea p { margin-top:16px; font-size:14px; }

	.boxNoticeRoll { background-size:13px auto; background-position:14px center; }
	.boxNoticeRoll .swiper-slide a { padding:0 20px 0 40px; }
	.boxNoticeRoll .swiper-slide a .title { margin-right:0; }
	.boxNoticeRoll .swiper-slide a .date { display:none; }
	
	.listInfomation { margin-top:25px; padding:0; }
	.listInfomation ul { flex-direction:column; }
	.listInfomation ul li { padding:15px 22px; }
	.listInfomation ul li+li:before { display:none; }
	.listInfomation ul li:first-child { padding-left:22px; }
	.listInfomation ul li:last-child { padding-right:22px; }
	.listInfomation ul li .title { font-size:20px; line-height:30px; }
	.listInfomation ul li .cont { margin-top:10px; font-size:16px; }
	.listInfomation ul li .img { width:auto; margin-top:14px; }

	.boxMarketing { padding:60px 0 0; }
	.boxMarketing .contMarketing { padding:36px 30px 26px; }
	.boxMarketing .contMarketing:before { width:58px; height:58px; left:30px; top:36px; }
	.boxMarketing .contMarketing .title { padding-left:70px; font-size:20px; }
	.boxMarketing .contMarketing .cont { font-size:16px; line-height:1.665; }

	.boxProject { padding:75px 0 60px; }
	.boxProject .titleArea { margin-bottom:30px; }
	.boxProject .swiper-slide { width:153px; }
	.boxProject .swiper-slide .thumb { width:153px; height:153px; }
	.boxProject .swiper-slide .title { margin-top:8px; font-size:16px; }
	.boxProject .swiper-slide .name { font-size:14px; }

	.slideCampaignThumb { margin-top:48px; padding:0 16px; }

	.slideCampaign { margin:34px 0 0; padding-bottom:90px; }
	.slideCampaign .swiper-slide .cont { margin-top:20px; padding:0 16px; }
	.slideCampaign .swiper-slide .cont .num { position:relative; font-size:20px; }
	.slideCampaign .swiper-slide .cont .title { font-size:20px; }
	.slideCampaign .swiper-slide .cont .subject { margin-top:15px; font-size:14px; line-height:25px; }
	.slideCampaign .swiper-button-next,
	.slideCampaign .swiper-button-prev { top:auto; bottom:0; right:auto; left:50%; margin-left:26px; }
	.slideCampaign .swiper-button-prev { margin-left:-45px; }

	.boxCharacter { width:84px; top:34px; right:6px; }
	.boxCharacter .bubble { width:130px; height:50px; left:-54px; top:-52px; padding-top:8px; padding-left:13px; font-size:10px; }
	.boxCharacter .img { width:auto; }
	.boxCharacter .name { top:auto; bottom:-15px; right:10px; font-size:10px; }
	
	.campaignBlock { padding:0 16px; }
	.campaignBlock .item { float:none; padding:35px 25px 41px; }
	.campaignBlock .item+.item { margin-top:10px; }
	.campaignBlock .item>a { margin-top:35px; }
	.campaignBlock .item.item1 { width:auto; height:auto; }
	.campaignBlock .item.item1>a { margin-top:35px; }
	.campaignBlock .item.item2 { width:auto; height:auto; margin-left:0; padding-right:25px; }
	.campaignBlock .item.item3 { width:auto; height:auto; margin-left:0; }
	.campaignBlock .item.item4 { width:auto; height:auto; padding-bottom:32px; }
	.campaignBlock .item.item5 { width:auto; height:auto; margin-left:0; padding-bottom:32px; }
	.campaignBlock .item.item6 { width:auto; height:auto; margin-left:0; padding-bottom:32px; }

	.campaignBlock .item .title { font-size:24px; }
	.campaignBlock .item .cont { font-size:16px; }

	.slideComing .titleArea .title { font-size:24px; }
	.slideComing .titleArea .subject { margin-top:18px; font-size:16px; }
	.slideComing .swiper-container { padding:0 16px 72px; }
	.slideComing .swiper-slide { width:284px; height:204px; padding:35px 25px 0; }
	.slideComing .swiper-slide .title { font-size:20px; }
	.slideComing .swiper-slide .cont { margin-top:20px; font-size:16px; line-height:30px; }
	.slideComing .swiper-button-next,
	.slideComing .swiper-button-prev { left:50%; right:auto; top:auto; bottom:0; margin-left:25px; }
	.slideComing .swiper-button-prev { margin-left:-45px }
	
	.boxQna { margin-top:28px; }
	.boxQna li a { padding:20px; }
	.boxQna li .title { padding-left:48px; font-size:16px; }
	.boxQna li .title:before { width:31px; height:31px; background-size:11px auto; }
	.boxQna li .title:after {  }
	.boxQna li .cont { padding-left:0; font-size:14px; line-height:27px; }

	.boxBanner { padding:35px 10px 150px; display:block; position:relative; background-position:left bottom; background-size:148px auto; }
	.boxBanner .txtArea { text-align:center; }
	.boxBanner .txtArea .txt1 { font-size:20px; }
	.boxBanner .txtArea .txt2 { margin-top:8px; font-size:13px; }
	.boxBanner a { width:208px; position:absolute; right:16px; bottom:33px; font-size:18px; }
	
	#footer { padding:42px 16px; }
	#footer h1 { font-size:20px; }
	#footer .address { margin-top:25px; font-size:13px; }
	#footer .copyright { margin-top:40px; }
	#footer .link { margin-top:45px; position:relative; }
	#footer .link a { margin-left:0; margin-right:30px; }
 }